{% extends "main.html" %}

{% block title %}
  Product Page
{% endblock title %}


{% block content %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h3 class="text-center">PRODUCTS</h3>
        </div>
            <div class="card card-body">
              <table class="table table-bordered table-striped">
                <tr class="text-center">
                  <th>Action</th>
                  <th>Product Name</th>
                  <th>Category</th>
                  <th>Price (PRK)</th>
                </tr>
                {% for prod in products %}
                <tr class="text-center">
                  <td><a href="{% url "product_details" prod.id %}" class="btn btn-sm btn-info">View</a></td>
                  <td>{{ prod.name}}</td>
                  <td>{{ prod.category}}</td>
                  <td><b>{{ prod.price}}/-</b></td>
                </tr>
                {% endfor %}
              </table>
            </div>
    </div>
  </div>
  </div>

{% endblock content %}