{% extends "main.html" %}
{% block title %}User Profile Page{% endblock title %}

{% block content %}
{% include "accounts/status.html" %}
    <h3 class="text-center">User Profile</h3><br><br>

    <div class="row">
        <div class="col-md">
          <div class="card card-body">
            <table class="table table-sm">
              <tr class="text-center">
                <th>Product</th>
                <th>Note</th>
                <th>Date Ordered</th>
                <th>Status</th>
 
              </tr>
      
              {% for order in orders %}
              <tr class="text-center">
                <td>{{order.product}}</td>
                <td>{{order.note}}</td>
                <td>{{order.date_created}}</td>
                <td>{{order.status}}</td>
               
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

{% endblock content %}